.container1 {
    margin-top: 100px;
    width: 50%;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    background: rgb(240, 168, 250);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgb(155, 68, 155);
    
  }
  input {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input[type="submit"] {
    width: 20%;
    background-color: rgb(160, 70, 238);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    float: left;
  }
  .col-1 {
    float: left;
    width: 30%;
    margin-top: 5px;
  }
  .col-2 {
    float: left;
    width: 70%;
    margin-top: 5px;
  }
  .col-3 {
    float: right;
    width: 35%;
    margin-top: 5px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #button-1 {
    background-color: rgb(241, 44, 44);
    padding-right: 10px;
  }
  #button-2 {
    background-color: rgb(90, 241, 44);
    padding-right: 10px;
  }
  .hide {
    display: none;
  }
  label.validation-error {
    color: rgb(248, 45, 5);
  }
  a {
    cursor: pointer;
    color: rgb(63, 6, 252);
    margin-right: 4px;
  }
  
  .col-2.error input {
    border-color: red;
  }
  .col-2.success input {
    border-color: #4bb543;
  }
  .col-2 small {
    color: #b00020;
    font-size: smaller;
  }
  
  /* new */
  h1 {
    font-size: 30px;
    color: rgb(9, 9, 9);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }

  body {
    background-color: rgb(239, 195, 240);
  }
  section {
    margin: 50px;
  }
  
  @media screen and (max-width: 1100px) {
    .container1 {
      width: 60%;
      margin-top: 30px;
      margin-left: 140px;
      margin-right: 140px;
      margin-top: 20px;
    }
  }
  /* Responsive layout - when screen size is 800 at max*/
  @media screen and (max-width: 800px) {
    .container1 {
      width: 80%;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 80px;
    }
    .col-1,
    .col-2 {
      width: 100%;
    }
    .col-3 {
      float: left;
    }
  }
  